/* line 1, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
* {
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease; }

/* line 7, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.tumb span {
  display: none;
  visibility: hidden; }

/* line 12, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.tumb:hover img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease; }

/* line 17, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.thumbnails-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease; }

/* line 30, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.thumbnails-preview .thumbnail-content {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }

/* line 39, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.thumbnails-preview .thumbnail-title {
  font-family: sans-serif;
  font-weight: 300;
  color: #777;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 2em;
  text-align: center; }

/* line 49, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.thumbnails-preview .thumbnail-close {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  border: none;
  font-size: 3em;
  line-height: 1;
  font-family: serif;
  color: #464646;
  text-decoration: none; }

/* line 60, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.thumbnails-preview .thumbnail-inner .thumbnail-close:hover {
  color: #f55; }

/* line 63, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.thumbnails-preview .thumbnail-content {
  display: block;
  margin: 0 auto;
  width: 100vw;
  max-height: 90vh;
  padding: 0.5em;
  overflow: hidden; }

/* line 71, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.show-thumbnail {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease; }

/* line 79, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.hidden-me {
  opacity: 0.1;
  transition: all 1s ease; }

/* line 85, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
.hidden-me-full {
  display: none; }

@media screen and (min-width: 320px) {
  /* line 91, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
  .tumb {
    width: 100%;
    height: auto; }

  /* line 92, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
  #filter {
    width: calc(100% - 2em); }
 }

@media screen and (min-width: 480px) {
  /* line 95, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
  .tumb {
    width: 100%;
    height: auto; }

  /* line 96, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
  #filter {
    width: calc(100% - 2em); }
 }

@media screen and (min-width: 700px) {
  /* line 99, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
  .tumb {
    width: calc(100% / 2 - 0.5em);
    height: 160px; }

  /* line 100, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
  #filter {
    width: 150px; }
 }

@media screen and (min-width: 1024px) {
  /* line 103, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
  .tumb {
    width: calc(100% / 4 - 0.5em);
    height: 130px; }

  /* line 104, /Users/SebastianNadeau/Desktop/exercise-4-code-pen/scss/components/main */
  #filter {
    width: 150px; }
 }
